 
 table {
          font-family: times, sans-serif;
          border-collapse: collapse;
          width: 100%;

        }

        td, th {
          border: 1px solid black;
          text-align: center;
          padding: 4px;
          font-size: 14px;

        }
        /*maneja los encabezados de las tablas*/
        th {
        background-color: #dddddd;
        }

        tr:nth-child(even) {
          /* background-color: #dddddd;*/


        }


            /*Maneja los encabezados bocatoma-eb1-2-3*/
            .grid-container {
              display: grid;
              /*auto representa cada columna*/
              grid-template-columns: auto auto auto auto auto auto auto auto auto;
              grid-template-rows: 80px 120px;
              gap: 10px;
              
              padding: 10px;
            }


            .checkbox{
              font-size: 15px;
            }


/*Formulario mostrar*/
.mostrar{

  position: absolute;
  right: 0px;
  width: 18%;
/*  border: 3px solid #73AD21;*/

  

}

.card{

border-radius: 30px;
border: solid #e5e3e3;
}

/*Division entre controles y tabla de datos*/
.linea{
border: solid #e5e3e3;
margin: 1%;
border-radius: 10px;
opacity: 40%;
}

.resumen{

    text-align: center;
    font-weight: bold;

}