
          .card{
            margin: 2%;
            display: flex;
            
            
            border-radius: 30px;
            border: solid #e5e3e3;
  
          }

         

              /*Div donde estan internamente los elementos del formulario*/
            .grid-container {
                /*grid*/
              display: grid;
              grid-template-columns: 750px ;
              
              /*border: solid #e5e3e3;*/
             
              justify-content: center;

              padding: 5%;
              
  
            }
            
          input {
                  width: 90%;
                  height: 30px;
                  margin: 0.5rem;
                }

            /*Boton de eliminar */
            .card-footer{

              text-align: center;
            }
