* {
  box-sizing: border-box;

}

table {
          font-family: times, sans-serif;
          border-collapse: collapse;
          width: 50%;
        }

        td, th {
          border: 1px solid #e5e3e3;
          text-align: center;
          padding: 4px;
          font-size: 16px;
        }
        /*maneja los encabezados de las tablas*/
        th {
        background-color: #e5e3e3;
        }

        tr:nth-child(even) {
          /* background-color: #dddddd;*/

        }

          .card{
            
            display: grid;            
            margin: 2%;
        
          }


              /*Div donde estan internamente los elementos del formulario*/
            .grid-container {
              /*grid*/
              display: grid;
              grid-template-columns: 550px 950px;
              
              justify-content: center;

              padding: 5%;
              
  
            }
            

            .historial{

            border-radius: 30px;
            border: solid #e5e3e3;
            margin: 1%;
            width: 100%;
            text-align: center;


            }


 tr:hover{
          background-color: #e6ecff;
        }
 /*------------------------*/


