  table {
          font-family: times, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }



/*Maneja los encabezados bocatoma-eb1-2-3*/
.grid-container {
  display: grid;
  /*auto representa cada columna*/
  grid-template-columns: auto auto auto auto  ;
  grid-template-rows: 35px 70px;
  gap: 10px;
  
  padding: 10px;
  
}



.button { font-size: 14px;  }

  tr:hover{
          background-color: #e6ecff;
        }