

        table {
          font-family: times, sans-serif;
          border-collapse: collapse;
          width: 100%;
        
        }

        td, th {
          border: 1px solid black;
          text-align: center;
          padding: 4px;
          font-size: 16px;
        }
        /*maneja los encabezados de las tablas*/
        th {
        background-color: #dddddd;
        }

        tr:nth-child(even) {
          /* background-color: #dddddd;*/

        }


          .card{
          
            

            width: 500px;
            margin:  auto;
            min-width: 100px;
        
            border-radius: 30px;
            border: solid #e5e3e3;
  
          }

          /*boton guardar*/
          .card-footer{

            background-color: white;


          }

           /*Div donde estan internamente los elementos del formulario e historial*/
            .grid-container {
           
              display: grid;
              /*auto representa cada columna*/
              
              grid-template-columns: 50% 50%;
              
              
              width: 90%;

              min-width: 30%;


            }

            /*Formulario */
            .card-body{

              display: grid;
              /*grid-template-columns: 150px ;
              border: solid black;*/
              padding: 5%;
            }
            .formulario {

              text-align: left;
                display: grid;

               
            }
            
            tr:hover{
          background-color: #e6ecff;
        }

/*Formulario*/
.container{

margin-right: 0;
}
/*tabla de historial*/
.historial{
padding: 0;


align-content: center;
}





