 /*vista Horas-trabajadas*/

 /*Controles de fecha y busqueda*/  
    #datos{
        padding: 10px;
    }

/*Maneja los encabezados bocatoma-eb1-2-3*/
.grid-container {
  display: grid;
  /*auto representa cada columna*/
  grid-template-columns: auto auto auto auto;
  
  gap: 10px;
  
  padding: 10px;

}

.button { font-size: 14px;  }

table {
  font-family: times, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.graficos{
  display: flex;  
  
    margin: .5em .5em .5m 1em;
    padding: 1em;
  
  
/*border: solid black;*/
}


/*fin vista Horas-trabajadas*/

/*Activa la pestaña horas del menu*/
#horas{
background: #80ccff;
border-radius: 10px;
font-weight:bold;

}
